.navbar{
    width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
    border:1px solid transparent;
    background: #fff;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.2)
}

.navbar-fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
}

.navbar .container{
    width: 95%;
    margin: 0 auto; 
}

.navbar-toggle{
    position: relative;
    float: right;
    padding: 9px 10px;
    margin: 8px 0;
    background-color: transparent;
    background-image: none;
    border:1px solid transparent; 
    border-radius: 4px;
    cursor: pointer;
}

.navbar-toggle .sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border:0;
}

.navbar-toggle .icon-bar{
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    cursor: pointer;
    background-color: #666;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

.navbar-brand{
    float: left;
    width: 170px;
    height: 30px;
    margin-top: 10px;
    background: url(../images/logo.png) no-repeat;
    -webkit-background-size: auto 30px;
    background-size: auto 30px; 
    text-indent: -10000px;
}

.navbar-brand>a{
    display: block;
    width: 100%;
    height: 100%;
}

.navbar-collapse{
    max-height: 340px;
    padding: 0 15px;
    overflow-x:visible;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    -webkit-overflow-scrolling:touch;
    border-color: #e7e7e7;
}

.navbar-nav{
    margin: 7.5px -15px;
}

.navbar-collapse>.navbar-nav>li{
    position: relative;
    display: block;
}

.navbar-collapse>.navbar-nav>li>a{
    display: block;
    text-align: center;
    padding: 5px 0 15px 0;
    color: #333;
    font-size: 14px;
    position: relative;
}

.navbar-collapse>.navbar-nav>li>a.btn{
    width: 80px;
    margin: 0 auto;
    padding: 0 10px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background:  #2d559c;
    border-radius: 4px;
}

.navbar-default .navbar-nav >li>a.btn:hover{
    background: #496fb2;
    color: #fff;
}

.navbar-collapse>.navbar-nav>li>a:hover{
    color: #063b96;
}

.navbar-collapse>.navbar-nav>.active a{
    color: #063b96;
}

.navbar-collapse .active a:after{
    content: "";
    position:absolute; 
    left:50%;
    margin-left: -5px;
    bottom: 5px;
    width: 10px;
    height: 10px;
    background: url(../images/dian.png) no-repeat center bottom;
}

/*js*/
.collapse{
    display: none;
}

.collapse.in {
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown {
    position: relative;
}

.dropdown-toggle:focus {
    outline: 0;
}
/*js*/

@media (min-width: 769px) {
    .navbar .container {
        width: 95%;
        padding:20px 0;
    }

    .navbar-header{
        float: left;
    }
    .navbar-toggle{
        display: none;
    }
    .navbar-brand{
        margin-top: 10px;
        width: 180px;
        height: 38px;
        -webkit-background-size: auto 38px;
        background-size: auto 38px; 
    }

    .navbar-collapse{
        margin:0;
        padding: 0;
        width: auto;
        border-top: 0;
        box-shadow: 0;
    }
    .navbar-collapse.collapse{
        display: block !important;
        height: auto !important;
        overflow: visible !important;
    }
    .navbar-nav{
        float: right !important;
        margin:0;
    }

    .navbar-collapse>.navbar-nav>li{
        float: left;
    }
    .navbar-collapse>.navbar-nav>li>a.btn{
        width: 60px;
        margin: 15px 0 0 28px;
    }
    .navbar-collapse>.navbar-nav>li>a{
        padding: 20px 0;
        margin-left: 28px;
    }
}


@media (min-width: 992px) {
    .navbar .container {
        width:95%; 
    }

    .navbar-brand{
        width: 199px;
        height: 43px;
        -webkit-background-size: auto 43px;
        background-size: auto 43px; 
    }

    .navbar-collapse>.navbar-nav>li>a.btn{
        width: 80px;
        margin-left:45px;
    }
    .navbar-collapse>.navbar-nav>li>a{
        margin-left: 45px;
    }
}

@media (min-width: 1000px) {
    .navbar .container {
        width:980px; 
    }
}




/*尾页*/
.footer{
    clear: both;
    width: 100%;
    background: #323232;
    overflow: hidden;
}

.footer a{
  color: #b4b4b4;    
}

.footer a:hover{
    color: #fff;
}

.footer .wrap{
    width: 1000px;
    margin: 0 auto;
    color: #b4b4b4;
    overflow: hidden;
}


.footer .wrap .list{
    float: left;
    margin: 30px 72px;
    line-height: 30px;
}

.footer .wrap .list h3{
    font-size: 16px;
    margin-bottom: 10px;
    color: #e3e3e3;
    font-weight: 500;
}

.footer p{
    margin-bottom: 15px;
    color: #b4b4b4;
    text-align: center;
}

.footer p span{
    margin: 0 10px;
}



/*响应式*/
@media screen and (max-width: 1020px){
    .footer .wrap{ width: 95%; }
    .footer .wrap .list{ margin: 30px 5%; }
}


@media screen and (max-width: 768px){
    .footer .wrap .list{width: 45%; margin: 30px 2.25%; text-align: center;}
}


@media screen and (max-width: 450px){}


@media screen and (max-width: 360px){
    .footer .wrap .list{margin: 20px 2.25%;}
}