/*banner*/
.banner{
    clear:both; 
    width:100%;
    height:260px; 
    margin-top: 100px;
}

.banner a{
    display:block; 
    width:100%; 
    height:100%;
}


/*子导航*/
.subnav{
    width:1000px; 
    margin:0 auto; 
    color:#666; 
    line-height:50px; 
    border-bottom:1px solid #e4e4e4;
}
.subnav a{
    color:#666;
}

.subnav a:hover{
 color:red;
}


/*新闻栏目*/
.main{
    width: 100%;
}

.main a:hover{
    color: #063b96;
}

.main .news{
    width: 1000px;
    margin: 0 auto;
}

.main .title{
    line-height: 40px;
    overflow: hidden;
}

.main .title h2{
    float: left;
    font-size: 18px;
    font-weight: 600;
} 

.main .title h2:before{
    content: "";
    display: inline-block;
    width: 4px;
    height: 16px;
    margin-right: 8px;
    background: #063b96;
    vertical-align: -1px;
}

.main .title .more{
    float: right;
}

.main .news{
    margin-top: 40px;
}

.main .news .list{
    clear: both;
    width: 100%;
    height: 180px;
    padding: 30px 0;
    border-top: 1px dashed #d8d8d8;
}

.main .news .list1{
    border:none;
}

.main .news .list .pic{
    float: left;
    width: 250px;
    height: 180px;
}

.main .news .list .pic a{
    display: block;
    width: 100%;
    height: 100%;
}

.main .news .list .content{
    float: right;
    width: 720px;
}

.main .news .list .content h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}

.main .news .list .content span{
    font-size: 14px;
    line-height: 28px;
    margin-right: 12px;
}

.main .news .list .content p{
    font-size: 14px;
    line-height: 28px;
}

.main .news .list .content p a{
    color: #063b96;
}


.main .business{
    clear: both;
    width: 1000px;
    margin: 40px auto 100px;
}

.main .business ul .st1{
    border:none;
}

.main .business ul li{
    line-height: 80px;
    font-size: 18px;
    border-top: 1px dashed #d8d8d8;
    overflow: hidden;
}

.main .business ul li a{
    float: left;
}

.main .business ul li span{
    font-size: 14px;
    float: right;
}

/*响应式*/
@media screen and (max-width: 1020px){
    .subnav{ width:95%; }
    .main{width: 95%;margin: auto;}
    .main .news{ width: 100%; }
    .main .news .list .pic{ width: 25%; }
    .main .news .list .content{ width: 72.5%;}
    .main .business{width: 100%; margin: 40px auto 100px;}
    .main .business ul li{ line-height: 65px;}
}

@media screen and (max-width: 768px){
    .banner{ margin-top: 50px; }
    .main .news .list{height: auto;}
    .main .news .list .pic{float:none; width: 100%; height: 300px; margin-bottom: 20px;}
    .main .news .list .content{ width: 100%; }
    .main .news .list .content h3{font-size: 22px; line-height: 28px;} 
    .main .business ul li{line-height: 26px;padding: 10px 0;}
    .main .business ul li a{float: none; display: block; font-size: 14px;}
    .main .business ul li span{float: none;}
}

@media screen and (max-width: 450px) {
    .banner{ height: 200px; margin-top: 50px; }
    .subnav{line-height: 40px; }   
    .main .news .list{height: auto;}
    .main .news .list .pic{height: 230px; margin-bottom: 20px;}
    .main .news .list .content h3{font-size: 18px; line-height: 24px;} 
    .main .business{margin-bottom: 50px;}  
}

@media screen and (max-width: 360px) {
    .banner{ height: 150px; margin-top: 50px; } 
    .main .news .list .pic{height: 170px; margin-bottom: 15px;} 
}
